.ishareButton {
  border: 1px solid #61385f;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #61385f;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  user-select: none;
  font-family: lato;
  font-weight: 700;
  text-decoration: none !important;
}

.ishareButton:active {
  background-color: #61385f16;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.signinCard {
  background-color: white;
  width: 240px;
  height: 200px;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
  font-family: lato;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signinCardHeader {
  margin: 0;
}

.signinCardDescription {
  color: #1e293b;
}

.ishareLink {
  text-decoration: none;
}

.tokenPre {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
